#sidebar {
  width: 300px;
  height: 2067px;
  background: #f2f2f2;
  border-right: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  height: 100%;
}

#sidebar-header {
  background: #003366;
  color: white;
  padding: 10px;
}

#sidebar-header h2 {
  margin: 0;
  font-size: 1rem;
}

#sidebar-body {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

#filtro-camadas {
  width: 90%;
  margin: 10px auto 5px auto;
  padding: 5px;
  font-size: 0.9rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#sidebar-content {
  flex: 1;
  overflow-y: auto;
  padding: 5px 10px;
}
